<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
  {{template "head"}}                                    
  <body>
    <div class="sizer">
      {{template "nav" .}}
      {{template "seeker"}}
      {{template "musicList" .}}
    </div>
  </body>
</html>
