<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
  {{template "head"}}                                    
  <body>
      {{template "signup"}}
      {{template "sidebar" .}}
      {{template "seeker" . }}
    <div class="sizer" id="sizer">
      {{template "trackList" .}}
      {{template "footer"}}
    </div>
  </body>
</html>
