{{ define "head" }}
  <head>
    <link rel="shortcut icon" type="image/png" href="./public/assets/disc.png"/>
    <link rel="stylesheet" href="/public/css/main.css" type="text/css" media="screen" charset="utf-8">
    <script type="text/javascript" src="/public/js/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
{{ end }}

{{define "nav"}}
  <div class="mainNav globalPlayer" id="gp">
    <div class="globalTrackInfo" id="globalTrackInfo">BTSTRMR</div>
    <div class="globalPPButt" onclick="pp()">
      <img class="ppImgGlobal" id="globalPPImg" src="public/assets/disk.svg">
    </div>
  </div>
  <script>
    var sb = document.getElementById("sidebar").offsetWidth;
    document.getElementById("gp").style.width = (window.innerWidth - sb) + "px";
    document.getElementById("gp").style.marginLeft= (sb) + "px";
  </script>
{{end}}

{{define "seeker"}}
        <div class="seekerBox" id="seekerBox" onclick="seek(event)">
            <div class="outerSeeker">
              <div class="innerSeeker" id="innerSeeker"></div>
            </div>
        </div>
  <script>
    var sb = document.getElementById("sidebar").offsetWidth;
    document.getElementById("seekerBox").style.width = (window.innerWidth - sb) + "px";
    document.getElementById("seekerBox").style.marginLeft= (sb) + "px";
  </script>
{{end}}

{{define "musicList"}}
  <div class="music">
  <!-- <div class="pTitle">Fresh</div> -->
    <ul>
      {{ range $key, $track := .Tracks }}
        <li class="musicLi" >
          <audio id="audioID_{{ $track.ID }}" 
                 data-title="{{$track.Title}}" 
                 data-artist="{{$track.Artist}}" 
                 src="public/assets/audio/{{ $track.Path }}" 
                 ontimeupdate="tt({{$track.ID}})">
          </audio>

          <div class="coverOuter">
            <img class="cover" src="public/assets/images/{{$track.Image}}">

          <div class="trackInfo">
            <div class="artist tInfo">{{$track.Artist}}</div>
            -
            <div class="title tInfo">{{$track.Title}}</div>
          </div>

          <div class="ppButt" id="ppButt_{{ $track.ID }}" onclick="pp({{ $track.ID }})">
            <img class="ppImg" id="ppImg_{{$track.ID}}" src="public/assets/images/play.png">
          </div>
          </div>

        </li>
      {{ end }}
    </ul>
    <div class="spacer"></div>
  </div>
{{end}}

{{ define "footer" }}
    <div class="foot">
        <img id="recycle" src="../../public/assets/earth.svg"></img>
        <div class="footLogo">♫ BTSTRMR</div>
        <div id="textme">TXT@(681)222.5982</div>
      </div>
{{ end }}


