{{ define "footer" }}
    <div class="foot">
        <img id="recycle" src="../../public/assets/earth.svg"></img>
        <div class="footLogo">♫ BTSTRMR</div>
        <div id="textme">TXT@(681)222.5982</div>
    </div>
{{ end }}
