{{ define "likeButton" }}
  <div class="likeButt" onClick={this._updateLikes}>                                 
    <img id="postHeart" src="../../public/assets/heart_black.svg"></img>  
  </div>                                                         
{{ end }}
