{{ define "likeButton" }}
        <div class="likeButt liked_{{.Liked}}" id="heart_{{.ID}}" onClick="like('{{.ID}}', '{{.Liked}}')"></div>                                                         
{{ end }}
