{{ define "sidebar" }}
        <div class="sidebar" id="sidebar">                                                                   
            <button                                                                            
              class="loginShow"                                                                
              id="loginKey"                                                     
              onClick='console.log("test")'>                                        
              <img src="../../public/assets/key2.svg" ></img>       
            </button>                                                                          
          <div id="" >                                                                         
            <img                                                                               
              id="spinny"                                                                      
              class="sidebar-img-logo"                                                         
              src="../../public/assets/disk.svg"                                   
            />                                                                                 
            <div></div>                                                                        
            </div>                                                                             
                                                                                               
          <p class="btlogo">BTSTRMR</p>                                                        
          <p class="glogo">GLOBAL</p>                                                          
          <li                                                                                  
            id="fresh"                                                                         
            onClick={this._changeSort}>                                                        
            FRESH                                                                              
          </li>                                                                                
                                                                                               
          <li                                                                                  
            id="hot"                                                                           
            onClick={this._changeSort}>                                                        
            HOT                                                                                
          </li>                                                                                
                                                                                               
          <div></div>                                                                          
                                                                                               
         <!-- {/* just some white stripes for aesthetics that turn into a rainbow on -->       
         <!--  mouse over. */} -->                                                             
         <div id="rainbow">                                                                    
          <li class="rainbow" ></li>                  
          <li class="rainbow" ></li>                  
          <li class="rainbow" ></li>                  
          <li class="rainbow" ></li>                  
          <li class="rainbow" ></li>                  
          <li class="rainbow" ></li>                  
          <li class="rainbow" ></li>                  
          <li class="rainbow" ></li>                  
          <li class="rainbow" ></li>                  
          <li class="rainbow" ></li>                  
          <li class="rainbow" ></li>                  
          <li class="rainbow" ></li>                  
          </div>                                      
        </div>                                         
{{ end }}
