{{ define "sidebar" }}
    <div class="sidebar" id="sidebar">                                                                   
        <div class="loginShow" id="loginKey_{{.UserData.IsLoggedIn}}" onClick="showLogin({{.UserData.IsLoggedIn}})"></div>                                                      
        <div id="spinnyOuter" >                                                                         
            <img                                                                               
             id="spinny"                                                                      
             class="sidebar-img-logo"                                                         
             src="../../public/assets/disk.svg"                                   
             />                                                                                 
            <div></div>                                                                        
        </div>                                                                             

        <p class="btlogo">BTSTRMR</p>                                                        
        <p class="glogo">GLOBAL</p>                                                          

        <li class="fresh" onclick="window.location = window.location.origin + '/fresh'">
            FRESH
        </li>                                                                                

        <li class="hot" onclick="window.location = window.location.origin + '/hot'">
            HOT                                                                                
        </li>                                                                                

        <li class="userLikes_{{.UserData.IsLoggedIn}}" onclick="window.location = window.location.origin + '/mylikes'">
            ♡ ♡ ♡
        </li>
        
        <div></div>                                                                          

        <!-- {/* just some white stripes for aesthetics that turn into a rainbow on -->       
        <!--  mouse over. */} -->                                                             
        <div id="rainbow">                                                                    
            <li class="rainbow" ></li>                  
            <li class="rainbow" ></li>                  
            <li class="rainbow" ></li>                  
            <li class="rainbow" ></li>                  
            <li class="rainbow" ></li>                  
            <li class="rainbow" ></li>                  
            <li class="rainbow" ></li>                  
            <li class="rainbow" ></li>                  
            <li class="rainbow" ></li>                  
            <li class="rainbow" ></li>                  
            <li class="rainbow" ></li>                  
            <li class="rainbow" ></li>                  
        </div>                                      
    </div>                                         
{{ end }}
