{{define "trackList"}}
  <div class="music" id="trackList">
    <div class="listTitle">{{.PageName}}</div>
    <ul>
      {{ range $key, $track := .Tracks }}
              <li class="musicLi" id="{{$track.ID}}"
                 data-title="{{$track.Title}}" 
                 data-artist="{{$track.Artist}}"
                      >
          <!-- <audio id="audioID_{{ $track.ID }}" --> 
          <!--        data-title="{{$track.Title}}" --> 
          <!--        data-artist="{{$track.Artist}}" --> 
          <!--        src="../../public/assets/audio/{{ $track.Path }}" --> 
          <!--        ontimeupdate="tt({{$track.ID}})"> -->
          <!-- </audio> -->
          <audio id="audioID_{{ $track.ID }}">
          </audio>
          <div class="coverOuter">
            <img class="cover" src="../../public/assets/images/{{$track.Image}}">
          </div>
          <div class="trackInfo">
            <div class="title tInfo">{{$track.Title}}</div>
            <br>
            <div class="artist tInfo">By: {{$track.Artist}}</div>
          </div>
          {{ template "ppButt" $track }}
          <div class="likeButt liked_{{$track.Liked}}" id="heart_{{$track.ID}}" onClick="like('{{$track.ID}}', '{{$.UserData.IsLoggedIn}}')"></div> 
        </li>
      {{ end }}
    </ul>
    <div class="spacer"></div>
  </div>
{{end}}

